@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Inspiration;
    src: url(Inspiration/OFL.txt);
}

@font-face {
    font-family: Josefin_sans;
    src: url(Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(./Josefin_Sans/static/JosefinSans-Light.ttf);
}

@font-face {
    font-family: static;
    src: url(static/JosefinSans-ExtraLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', 'sans-serif'; */

}

.header {
    font-size: 30px;
    font-family: Josefin;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: #000;
    background-color: #a196df;
}


.headerSearch {
    display: flex;
    align-items: center;
    gap: 50px;
    /* justify-content: space-between; */
    /* background-color: rgb(10, 255, 1); */

}

.mobileBrands {
    margin: 20px 20px 20px 90px;
    width: 60%;
    /* background-color: aqua; */
}

.mobileBrands input {
    border: 1px solid #817488;
    padding: 15px;
    font-size: 16px;
    padding-left: 25px;
    width: 95%;
    border-radius: 25px;

}



.search {
    margin-right: 70px;
    width: 20%;
}

#dropDown {
    margin-right: 20px;

}

#dropmenu {
    margin-left: 50%;

}

select {
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 15px;
    background-color: #4a2bd3;


}

.search button {
    width: 90%;
    background-color: #4a2bd3;
    margin-right: 100px;
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.search button:hover {
    color: #000;
    font-weight: 900;
    background-color: #e9e7c9;
}

.dropDiv {
    width: 100px;
    height: auto;
}

.dropUl {
    width: 230px;
    height: auto;
    background-color: #bd97d1;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;

}

.dropli {
    list-style: none;
}

.singleProduct {
    border: 1px solid black;
    margin: 7px;
    margin-left: 36%;
    width: 29%;
    height: 430px;
    background: -webkit-linear-gradient(left, #fff, #96b9da);

}

.singleProduct img {
    width: 40%;
    height: 290px;
    margin-left: 28%;
    padding: 20px;
}

.singleProduct .productContent {
    margin-left: 20px;
    text-align: center;
}

.singleProduct .title {
    font-size: 24px;
    font-weight: bold;
}


#allProducts {
    display: flex;
    flex-wrap: wrap;
    margin: 70px;


}

#allProducts .productCards {
    background: -webkit-linear-gradient(top, #fff, #d8d27f);
    /* border: 1px solid black; */
    margin: 7px;
    width: 32%;
    height: 430px;
}

.productCards .content {
    margin-left: 20px;
    text-align: center;
}

.productCards .title {
    font-family: Josefin_sans;
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 47%;
    height: 290px;
    margin-left: 28%;
    padding: 20px;
}

.copy {
    color: #000;
    font-family: static;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: #000000;
}

.right {
    color: #FFF;
    font-weight: 700;
}